
<form [formGroup]="formProduct">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
          <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Producto</label>
          <input type="text" formControlName="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Linterna" required />
        @if(validaControl('product')){
          <small class="p-1 text-red-500">Este campo es requerido</small>
        }
        </div>
      <div>
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
          <input type="text" formControlName="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required />
          @if(validaDescriptionMin('description')){
            <small class="p-1 text-red-500">Min 8 caracteres</small>
          }@else{
            @if(validaControl('description')){
              <small class="p-1 text-red-500">Este campo es requerido</small>
            }
          }
        </div>
      <div>
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
          <select formControlName="category">
            @for (cat of categoria;track cat){
              <option [value]="cat">{{cat}}</option>
            }>
          </select>
          @if(validaControl('category')){
            <small class="p-1 text-red-500">Este campo es requerido</small>
          }
        </div>
      <div>
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono</label>
          <input type="number" formControlName="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          @if(validaPhone()){
            <small class="p-1 text-red-500">Ingresa 10 digitos</small>

          }@else {
            @if(validaControl('phone')){
              <small class="p-1 text-red-500">Este campo es requerido</small>
            }
          }
        </div>
      <div>
          <label for="serie" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">serieL</label>
          <input type="text" formControlName="serie" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="flowbite.com" required />
          @if(validarSerie()){
            <small class="p-1 text-red-500">Serie incorrecta debe empezar por ULT</small>

          }@else {
            @if(validaControl('phone')){
              <small class="p-1 text-red-500">Este campo es requerido</small>
            }
          }
        </div>
  </div>
  <div>
    <button
    type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
    focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600
     dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Enviar
    </button>
  </div>
</form>
