

<div class="max-w-sm p-6 bg-pink-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Aumentar</h5>
  </a>
  <div >
    <button
    (click)="aumentar()" class="text-white bg-pink-500 hover:bg-pink-800 focus:ring-4 focus:outline-none
    focus:ring-pink-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-pink-600
     dark:hover:bg-pink-700 dark:focus:ring-pink-800"
    >
      +1
    </button>

  </div>

